a{color:#17a2b8 !important;}
.btn-primary {
    color: #fff;
    background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;}

#astroid-backtotop{
  background-color: #17a2b8 !important;
}
#footer-section-1528971627712
{
   background-color: #17a2b8 !important;
}
.astroid-section astroid-footer-section py-2{
  background-color: #17a2b8 !important;
}
#astroid-footer
{
  background-color: #17a2b8 !important;
}

.astroid-contact-info
{
   background-color: #17a2b8 !important;
}
#top-bar-section-1528971557124
{
   background-color: #17a2b8 !important;
}
.astroid-section py-1 hideonxs hideonsm hideonmd
{
   background-color: #17a2b8 !important;
}

.bottom-section .address-info .icon i {
    color: #17a2b8 !important;
}


.breadcrumbs-section .breadcrumb {
   background-color: #17a2b8 !important;
}

.nav-title:hover{
  color: #17a2b8 !important;
}

.nav-submenu-container .nav-submenu li:hover {
  background-color: #17a2b8 !important;
}

.split-title-module .split-title [class*="split-1"] {
  font-size:28px !important;
}

.jd-profiler-wrapper .jd-team-columns .card-team .team-mamber-image{
  border-radius:50% !important;
}

.nav-submenu > li>a:hover,  .nav-submenu .nav-title:hover,{
   background-color: #17a2b8 !important;
   color: #ffffff !important;
}

.nav-item-submenu>li:hover{
   background-color: #17a2b8 !important;
  color: #ffffff !important;
}


.nav-submenu-container .nav-submenu > li>a:hover,{
  
  color: #ffffff !important;
  background-color: #17a2b8 !important;
}

.astroid-nav .nav-link.active{
  color: #17a2b8 !important;
}
.div#n2-ss-2 .n2-style-42efa14b1d4899a9d2b885ff40deb71e-heading{
  border-top-right-radius:99px !important;
  border-bottom-right-radius:99px !important;
  
}